{{ range $service := lsdir "/services" }}
    {{ $hasHttp := ls (printf "/services/%s/http" $service) }}{{ $hasHttps := ls (printf "/services/%s/https" $service) }}
    {{ if or $hasHttp $hasHttps }}

        {{ if $hasHttp }}
        upstream backend_{{ base $service }}_normal {
            least_conn;{{range getvs (printf "/services/%s/http/*" $service)}}
            server {{.}};{{end}}
        }
        {{ end }}

        {{ if $hasHttps }}
        upstream backend_{{ base $service }}_secure {
            least_conn;
            {{ range getvs (printf "/services/%s/https/*" $service) }}
            server {{.}};{{end}}
        }
        {{ end }}

        {{ if ls (printf "/services/%s/http" $service) }}
        server {
            listen 80;
            {{ range getvs (printf "/services/%s/domains/*" $service) }}
            server_name {{.}};{{end}}

            location / {
                proxy_pass http://backend_{{base $service}}_normal;
                proxy_redirect off;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Service-Name $service;
            }
        }
        {{ end }}

        {{ if ls (printf "/services/%s/https" $service) }}
        server {
            listen 443 ssl;

            {{ range getvs (printf "/services/%s/domains/*" $service) }}
            server_name {{.}};{{end}}
            client_max_body_size 100M;

            location / {
                proxy_pass https://backend_{{base $service}}_secure;
                proxy_redirect off;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Service-Name $service;
            }
        }
        {{ end }}

    {{ end }}
{{ end }}

server {
    listen 80 default_server;
    server_name  _;

    error_page 404 /404.html;

    location = /404.html {
        root /usr/share/nginx/html;
        add_header Access-Control-Allow-Origin * always;
        add_header Access-Control-Allow-Methods GET always;
        internal;
    }
}
